<div class="header">
    <img class="frontImage" [src]="logoUrl">
</div>

<div>
    Luminary is a revolutionary social media platform that empowers individuals to share their everyday creative ideas
    and needs, fostering innovation and driving positive change in our world. With Luminary, you have the power to
    transform mere thoughts into tangible realities.
    <br><br>
    Imagine this: You're sitting in a library, and a brilliant idea pops into your mind. Perhaps you wish there was a
    game room or a stress-relief area within the library. Instead of keeping that idea to yourself, you open up Luminary
    and share it with the community. Instantly, other users can engage with your concept, expressing their opinions and
    ideas to enhance or build upon your initial spark.
    <br><br>
    Luminary is a hub of collective intelligence and collaboration. It welcomes ideas from various domains, be it
    architecture, technology, entertainment, or any other realm where creativity thrives. As you share your ideas, they
    gain traction through likes, comments, and endorsements from fellow users who recognize their value and potential.
    <br><br>
    But Luminary doesn't stop there. It goes beyond ideation by connecting you with developers, startups, and passionate
    individuals who have the resources and expertise to transform ideas into reality. These innovators actively browse
    Luminary, seeking promising ideas that align with their interests. They engage with you, forging partnerships, and
    working together to bring ideas to life.
    <br><br>
    The possibilities with Luminary are boundless. Perhaps you're driving through a busy city street, struggling to find
    a parking spot. Suddenly, a brilliant idea strikes: a chip or software that shows you available parking spaces and
    allows you to reserve one in advance. You share this concept on Luminary, and others join in the conversation,
    discussing the feasibility and potential impact of your idea.
    <br><br>
    Luminary's mission is to cultivate a community of forward-thinking individuals who believe in the transformative
    power of ideas. We invite you to join us in this movement, where your creativity has the power to shape the world we
    live in. Through Luminary, we aspire to kindle the spark of innovation within you and help you ignite the engine of
    change.
    <br><br>
    With Luminary, there are no limits to what you can achieve. Together, let's unlock the full potential of your
    imagination and create a brighter, more innovative future for all.
    <br><br>
    Light up your mind with Luminary and join the revolution today!
</div>

<div class="btn-back">
    <button type="button" class="btn btn-outline-dark" routerLink="/home"> back</button>
</div>

<br>
<br>
<br>